.acme-navbar-text{
  color: white;
}

nav {
  .navbar-brand {
    font-size: 2em;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
      height: calc(100px + 1.5em);
    }

    > span {
      display: inline-block;
      margin-top: 1em;
    }

    >.logo {
      display: inline-block;
      max-height: 100%;
      max-width: 130px;
      width: auto;
      margin-right: 15px;
      vertical-align: bottom;
      transform-origin: 50% 100%;
      transform: perspective(100px) rotateX(35deg);
      transition: transform .5s;

      &:hover {
        transform: perspective(100px) rotateX(35deg) translateY(-400%);
        transition: transform 3s;
      }
    }
  }
}
