.loader {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: $text-color;

  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
}

.all-loaded {
  font-size: 1.5em;
  margin: 30px;
  text-align: center;
}

.people {
  .person {
    padding: 15px 0;

    .name {
      display: inline-block;
      margin-top: 0;
    }

    .gender {
      line-height: 24px * 1.1;
    }
  }
}
