<div class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail" ng-show="person.photo">
        <a ng-href="{{ person.photo.link }}">
          <img ng-src="{{ person.photo.link }}" alt="{{ person.person.name }}">
        </a>
        <div class="caption">
          <p>{{ person.photo.snippet }}</p>
          <span>Source: <a ng-href="{{ person.photo.image.contextLink }}">{{ person.photo.displayLink }}</a></span>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div ng-show="person.person" class="person">
        <h1 class="name">{{ person.person.name }}</h1>

        <p>from {{ (person.person.planet.name != "unknown") ? person.person.planet.name : "an unknown planet" }}</p>
        <p>
          <i class="gender fa fa-{{ (person.person.gender != 'n/a' && person.person.gender != 'none') ? person.person.gender : 'android' }}"
             aria-hidden="true"></i>
          {{ (person.person.height != "unknown") ? person.person.height + "cm" : "unknown height"}},
          {{ (person.person.mass != "unknown") ? person.person.mass + "kg" : "unknown weight" }},
          {{ (person.person.eye_color != "unknown") ? person.person.eye_color + " eyes" : "unknown eye color" }},
          {{ (person.person.hair_color != "n/a" ) ? person.person.hair_color + " hair" : "no hair"}}
        </p>

        <div class="neighbors" ng-if="person.person.planet.residents.length > 1">
          <h2>Other people {{ (person.person.planet.name != "unknown") ? "from " + person.person.planet.name : "with unknown origins (so far)"}}:</h2>

          <ul>
            <li ng-repeat="p in person.neighbors">
              <a ui-sref="person({ id: p.id })">{{ p.name }}</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div class="loader" ng-hide="person.person">&nbsp;</div>

</div>
